.info-list {
  font-weight: 600;
  font-size: 15px;
}
 .info-list ul li {
  color: #777777;
  margin-bottom: 6px;
}
.info-list ul li span {
  color: #212121;
}
.addQualification {
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.5);
}

.col{
  background-color: white;
  padding: 10px;
}

#tableHead{
  font-weight: bold;
}
