/**designed by Lim Kian Wei B1700814**/
/*This styles the index.html*/
body{background-image: url(../img/title/demo-1-bg.jpg);} :root {
  --mouse-x: 0;
  --mouse-y: 0;
  
}
/*to be an linkable block*/
body .content a{
  display:block;
  text-decoration:none;
  color:rgb(255,254,254);
}
/*slide side panel*/
.sidepanel{
  height:100%;
  width: 0px;
  position:fixed;
  z-index:10;
  top: 0px;
  left: 0px;
  overflow-x:hidden;
  background-color:rgb(253, 253, 253);
  transition: 0.35s;
  padding-top:60px;
}
.sidepanel >.closemenu{
  position:absolute;
  top:0px;
  font-size:48px;
  margin-left:50px;
  right:4px;
  color: rgb(65, 62, 62);
}
.sidepanel >.closemenu:hover{
  color:rgb(25,16,253);
  animation: rotatingstar 1.73s infinite;
}
@keyframes rotatingstar{
  from{
    transform:rotate(0deg);
    transform-origin:51% 64%;
  }
  to{
    transform:rotate(359deg);
  }
}
.sidepanel > a{
  font-size: 30px;
  display:block;
  text-decoration: none;
  padding: 8px 8px 8px 32px;
  color: rgb(65, 62, 62);
  background-image:linear-gradient(to left, transparent, transparent 50%, rgb(51, 206, 31) 50%, rgb(17,55,254));
  background-position:100% 0;
  background-size:200% 100%;
  transition: all .25s ease-in;
}
.sidepanel > a:hover{
  background-position: 0 0;
  color:rgb(255, 255, 255);
}
/*to slide content away to fit slide menu sidepanel*/
#main{
  transition:margin-left .5s;
  padding:20px;
}
/*flashing menu icon*/
.blackmenu{
  position:relative;
}
.blackmenu img{
  animation:rotation 4s infinite linear;
}

.menuitem{
  position:absolute;
  left:0px;
  animation-name:chgimg;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-duration:1s;
  animation-direction:alternate;
}

.menuitem img{animation:rotation 4s infinite linear;}
@keyframes chgimg{
  0%{
    opacity:1.0;
  }
  25%{
    opacity:1;
  }
  
  75%{
    opacity:0;
  }
  100%{
    opacity:0;
  }

}
@keyframes rotation{
  from{
    transform:rotate(0deg);
    
  }
  to{
    transform: rotate(179deg);
    
  }
}
/*body content*/
.content{
  display:flex;
  flex-direction:column;
  margin:0px 40px;
  justify-content:center;
  align-items: center;
  color:rgb(255,254,254);
}
/*Yale*/
div.Yale{
  box-shadow: 0px 10px 10px 1px rgb(76, 77, 75);
  border-radius:5px;
  padding:5px;
  height:87vh;
  width:71vh;
  background-color:rgba(255,254,243, 0.37);
}
div.Yale p.YaleRdM,body .content div p.AnuRdM{
  border:1px solid rgb(8,8,8);
  padding:9px 11px;
  margin-top:15px;
}
div.Yale p.YaleRdM:hover, body .content div p.AnuRdM:hover{
  box-shadow: 0px 0px 5px 5px rgb(63,61,72);
  transition:.48s;
}
div.Yale div.Yalecontainer{
  padding:10px;
  height: 75vh;
  width:68vh;
  overflow:hidden;
}
div.Yale div.Yalecontainer img{
  height:47vh;
  /*width:48vh;*/
  padding:0 12vh;
}
/*ANU*/
a.Anu{
  margin-top:33vh;
  background-color: rgba(255,254,243,0.37);
  box-shadow: 0px 10px 10px 1px rgb(76,77,75);
  border-radius:5px;
  padding:5px;
  height:77vh;
  width:71vh;
}
a.Anu div.Anu-container{
  overflow:hidden;
  padding:10px;
  height:65vh;
  width:68vh;
}
a.Anu div.Anu-container img{
  height:25vh;
  width:69vh;
}
a.Anu div.Anu-container p{
  height:23vh;
  width:69vh;
  display:block;
}
.west{
  margin-top:33vh;
background-color: rgba(255,254,243,0.37);
box-shadow: 0px 10px 10px 1px rgb(76,77,75);
border-radius:5px;
padding:20px;
height:95vh;
width:71vh;
}
/*Australia Western Universit*/
.west .west-container{
  
overflow:hidden;
height: 87vh;
width:71vh; 
}
.west-container img{
  height:55vh;
  width:66vh;
  border:inset 5px rgb(255,255,255);
}
.west-container p{
  height: 17vh;
  width: 69vh;
  display:block;
}
/*to be responsive*/
@media screen and (max-width: 400px){
  .blackmenu img{
    height:8vh;
    width:11vw;
  }
  .menuitem img{
    height:8vh;
    width:11vw;
  }
  .content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0px 40px;
  }
  div.Yale, a.Anu, .west{
    height:57vh;
    width:41vh;
  }
  div.Yale div.Yalecontainer,a.Anu div.Anu-container, .west .west-container{height:45vh;width:38vh;

  }
  div.Yale div.Yalecontainer img{
    height:38vh;
    width:36vh;
    padding:0 3px;
  } 
  a.Anu div.Anu-container img{
    height:17vh;
    width:36vh;
  }
  a.Anu div.Anu-container p{
    height:45vh;
    width:38vh;
  }
  .west .west-container img{
    height:23vh;
    width:36vh;
  }
  div.Yale p.YaleRdM, body .content div p.AnuRdM{
    margin-top:3px;
    margin-left:3px;
    padding:2px 3px;
    width: 34vh;
  }
}